<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page - User Management</title>
    <link rel="stylesheet" href="../../style/main.css">
    <link rel="stylesheet" href="../../style/admin.css">
</head>
<body>
<!-- Header -->
<header class="header">
<!--    <div class="admin-header__content">-->
        <nav class="nav header__content">
            <div class="header__title">
                <a href="" class="">Triveni Sales</a>
            </div>
            <div class="header__profile">
                <div class="header__profile-img">
                    <i class="bx bxs-user-circle profile-icon" id="profileDropdownButton"></i>
                </div>
                <div class="header__profile-dropdown" id="profileDropdown">
                    <a href="../index.html" class="admin-header__profile-link">Home Page</a>
                    <a href="#" class="admin-header__profile-link">Logout</a>
                </div>
            </div>
        </nav>
<!--    </div>-->
</header>
<main class="main-content">
    <!--    <section id="user-management" class="section">-->
    <div class="section-title">
        <h2>Edit Profile</h2>
    </div>
    <div class="user-form card card-grid">
        <form id="userForm" class="">
            <div class="form-group">
                <label for="fullName">FullName</label>
                <input type="text" id="fullName" class="user-form__input form-control" placeholder="Enter your full name" name="fullName" required>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="user-form__input form-control" placeholder="Enter your email" required>
            </div>

            <div class="form-group">
                <label for="role">Role</label>
                <select name="role" id="role">
                    <option value="admin">Admin</option>
                    <option value="editor">Editor</option>
                    <option value="viewer">Viewer</option>
                </select>
            </div>

            <button type="submit" class="button">Update</button>
        </form>
        <div class="profile-image">
            <div class="profile-image header__profile-img">
                <i class="bx bxs-user-circle profile-icon" ></i>
            </div>
        </div>

    </div>
    <!--    </section>-->
</main>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const profileDropdownButton = document.getElementById('profileDropdownButton');
        const profileDropdown = document.getElementById('profileDropdown');

        profileDropdownButton.addEventListener('click', function (e) {
            e.stopPropagation();
            profileDropdown.classList.toggle('admin-header__profile--active');
        });

        document.addEventListener('click', function () {
            profileDropdown.classList.remove('admin-header__profile--active');
        });
    });
    document.addEventListener('DOMContentLoaded', function () {
        const userForm = document.getElementById('userForm');

        userForm.addEventListener('submit', function (e) {
            e.preventDefault();
            const email = userForm.email.value;
            const fullName = userForm.fullName.value;
            const role = userForm.role.value;

        });
    });
</script>
</body>
</html>
