/* Header */
.admin-header {
    height: var(--header-height);
    background: var(--gray-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding: 0 var(--mb-2);*/
    padding:0 var(--spacing-large);
    position: fixed;
    top: 0;
    /*left: 250px; !* Adjusted for sidebar width *!*/
    /*width: calc(100% - 250px); !* Adjusted for sidebar width *!*/
    /*z-index: var(--z-fixed);*/
    width: 100%;
    z-index: var(--z-fixed);
}

.header__content {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    width: 100%;
    justify-content: space-between;
}
/* Sidebar */
.sidebar {
    background: var(--gray-color);
    color: var(--text-color);
    width: 250px;
    height: 100vh;
    position: fixed;
    top: var(--header-height);
    left: 0;
    z-index: var(--z-fixed);
    overflow: hidden;
    padding: var(--spacing-medium) 0;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
}
.sidebar__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    cursor: pointer;
}

.sidebar__menu {
    list-style: none;
    margin: 0;
    padding: var(--header-height) 0 0;
    flex: 1;
}

.sidebar__menu li {
    padding: var(--mb-2);
}

.sidebar__menu li a {
    /*color: var(--white-color);*/
    text-decoration: none;
    display: block;
    font-size: var(--normal-font-size);
}

.sidebar__menu li:hover {
    background-color: var(--first-color-alt);
}
.sidebar__menu li:hover > a {
    color: var(--gray-color);
}

.sidebar--active {
    transform: translateX(0);
}

.sidebar__nav {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.sidebar__item {
    margin-bottom: var(--mb-2);
}

.sidebar__link {
    color: var(--white-color);
    display: block;
    padding: var(--spacing-small) var(--spacing-medium);
    transition: background-color 0.3s;
}

.sidebar__link:hover {
    background-color: var(--first-color-alt);
}

.sidebar--active ~ .main-content-center {
    margin-left: 250px;
}

/* Sidebar Toggle */
#sidebarToggle {
    font-size: 1.5rem;
    cursor: pointer;
}

/*Summary section*/
.summary-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.summary-item {
    margin-bottom: 5px; /* Adjust as needed */
}

.summary-item p {
    margin: 0;
}