/* Updated CSS for the Cart Details Page */

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: var(--mb-2) 0;
    font-size: var(--normal-font-size);
    text-align: left;
}

/*.styled-table thead tr {*/
/*    background-color: var(--first-color);*/
/*    color: var(--white-color);*/
/*    text-align: left;*/
/*    font-weight: var(--font-bold);*/
/*}*/

.styled-table th, .styled-table td {
    padding: var(--spacing-small);
    border: 1px solid var(--border-color);
}

.styled-table tbody tr {
    border-bottom: 1px solid var(--border-color);
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: var(--gray-color-light);
}

.styled-table tbody tr:hover {
    background-color: var(--first-color-light);
    color: inherit;
}

.cart-quantity {
    width: 60px;
    padding: var(--spacing-small);
    border: var(--border-width) var(--border-style) var(--border-color);
    border-radius: var(--border-radius);
    text-align: center;
}

.button-remove {
    background-color: var(--accent-color);
    color: var(--white-color);
    padding: var(--spacing-small);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-remove:hover {
    background-color: var(--accent-color-alt);
}

.cart-summary {
    text-align: right;
}

.cart-summary p, .cart-summary h2 {
    margin: var(--mb-1) 0;
    font-size: var(--normal-font-size);
}

.cart-summary h2 {
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
}

.cart-actions {
    text-align: right;
    margin-top: var(--spacing-large);
}

.cart-actions .button-primary {
    background-color: var(--first-color);
    color: var(--white-color);
    padding: var(--spacing-small) var(--spacing-medium);
    border: none;
    border-radius: var(--border-radius);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-actions .button-primary:hover {
    background-color: var(--first-color-alt);
}
