<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triveni Sales</title>

    <!--  BOXICONS  -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../style/main.css">
    <link rel="stylesheet" href="../style/product-details.css">

</head>
<body>
<header class="header">
    <nav class="nav grid">
        <div>
            <a href="" class="nav__logo">Triveni Sales</a>
        </div>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                <li class="nav__item"><a href="#featured" class="nav__link">Featured</a></li>
                <li class="nav__item"><a href="#new-products" class="nav__link">New Arrivals</a></li>
                <li class="nav__item"><a href="product-list.html" class="nav__link">Products</a></li>
                <li class="nav__item"><a href="contact-us.html" class="nav__link">Contact Us</a></li>
                <li class="nav__item"><a href="#subscribed" class="nav__link">Subscribed</a></li>
            </ul>
        </div>

        <div>
            <a href="cart-details.html">
                <i class="bx bx-cart nav__cart"></i>
            </a>
            <i class="bx bx-menu nav__toggle" id="nav-toggle"></i>
        </div>
    </nav>
</header>

<main class="main-left">
    <!-- DETAIL SECTION -->
    <section id="prod-details" class="section grid product-grid">
        <div class="product-image-show">
            <img src="/img/new1.png" width="100%" id="MainImg">
            <div class="small-img-group">
                <div class="small-img-col">
                    <img src="/img/new1.png" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="/img/new1.png" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="/img/new1.png" width="100%" class="small-img">
                </div>
                <div class="small-img-col">
                    <img src="/img/new1.png" width="100%" class="small-img">
                </div>
            </div>
        </div>
        <div class="product-info-detail">
            <h6>Home / T-Shirt</h6>
            <h4 class="product-title">Men's Fashion T-Shirt</h4>
            <h2 class="product-info">$139.00</h2>
            <form action="#" method="post" class="form">
                <div class="form-group">
            <select id="select-size">
                <option>Select Size</option>
                <option>XL</option>
                <option>XXL</option>
                <option>small</option>
                <option>Large</option>
            </select>
                </div>
                <div class="form-group">
                    <label for="number">Number:</label>
                    <input type="number" id="number" name="name" class="newsletter__input" value="1" required>
                </div>
            <button class="button">Add To Cart</button>
            </form>
            <h4>Product Details</h4>
            <span>The Gildan Ultra Cotton T-shirt is made from a substantial 6.0 oz. per sq. yd. fabric constructed from 100% cotton, this classic fit preshrunk jersey knit provides unmatched comfort with each wear. Featuring a taped neck and shoulder, and a seamless double-needle collar, and available in a range of colors, it offers it all in the ultimate head-turning package.</span>
        </div>
    </section>

    <!-- NEWSLETTER -->
    <section class="newsletter section" id="subscribed">
        <div class="newsletter__container grid">
            <div class="newsletter__subscribed">
                <h2 class="section-title">OUR NEWSLETTER</h2>
                <p class="newsletter__description">Promotion new products and sales. Directly to your inbox.</p>
                <form action="" class="newsletter__form">
                    <input type="text" class="newsletter__input" placeholder="Enter your email">
                    <a href="#" class="button">SUBSCRIBE</a>
                </form>
            </div>
        </div>
    </section>

    <!-- SPONSORS -->
    <section class="sponsors section">
        <div class="sponsors__container grid">
            <div class="sponsors__logo">
                <img src="../img/logo1.png" alt="">
            </div>
            <div class="sponsors__logo">
                <img src="../img/logo2.png" alt="">
            </div>
            <div class="sponsors__logo">
                <img src="../img/logo3.png" alt="">
            </div>
            <div class="sponsors__logo">
                <img src="../img/logo4.png" alt="">
            </div>
        </div>
    </section>
</main>

<!-- FOOTER -->
<footer class="footer section">
    <div class="footer__container grid">
        <div class="footer__box">
            <h3 class="footer__title">Triveni Sales</h3>
            <p class="footer__deal">Products store</p>
            <a href="#"><img src="../img/footerstore1.png" alt="" class="footer__store"></a>
            <a href="#"><img src="../img/footerstore2.png" alt="" class="footer__store"></a>
        </div>

        <div class="footer__box">
            <h3 class="footer__title">EXPLORE</h3>
            <ul>
                <li><a href="#" class="footer__link">Home</a></li>
                <li><a href="#" class="footer__link">Featured</a></li>
                <li><a href="#" class="footer__link">New</a></li>
                <li><a href="#" class="footer__link">Subscribe</a></li>
            </ul>
        </div>

        <div class="footer__box">
            <h3 class="footer__title">OUR SERVICES</h3>
            <ul>
                <li><a href="#" class="footer__link">Pricing</a></li>
                <li><a href="#" class="footer__link">Free Shipping</a></li>
                <li><a href="#" class="footer__link">Gift Cards</a></li>
            </ul>
        </div>

        <div class="footer__box">
            <h3 class="footer__title">FOLLOW US</h3>
            <a href="#" class="footer__social"><i class='bx bxl-facebook-square'></i></a>
            <a href="#" class="footer__social"><i class='bx bxl-instagram-alt'></i></a>
            <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
        </div>
    </div>

    <p class="footer__copy">&#169; 2024 copyright all rights reserved.</p>
</footer>

<script>
    var MainImg = document.getElementById("MainImg");
    var smallimg = document.getElementsByClassName("small-img");

    smallimg[0].onclick = function(){
        MainImg.src = smallimg[0].src;
    }
    smallimg[1].onclick = function(){
        MainImg.src = smallimg[1].src;
    }
    smallimg[2].onclick = function(){
        MainImg.src = smallimg[2].src;
    }
    smallimg[3].onclick = function(){
        MainImg.src = smallimg[3].src;
    }
</script>

<!-- JS Import -->
<script src="../js/main.js"></script>
</body>
</html>
