<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page - User Management</title>
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../style/main.css">
<!--    <link rel="stylesheet" href="../../style/admin.css">-->
</head>
<body>
<!-- Header -->
<header class="header">
    <nav class="nav grid ">
        <div class="header__title">
            <a href="../index.html" class="">Triveni Sales</a>
        </div>
    </nav>
</header>
<main class="main-content-center login">
    <!--    <section id="user-management" class="section">-->
    <div class="section-title">
        <h2>Login</h2>
    </div>
    <div class="card">
        <div class="w-400">
            <form id="userForm" class="user-form">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" class="user-form__input form-control" placeholder="Enter username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" id="password" class="user-form__input form-control" placeholder="Enter password" name="password" required>
                </div>

                <button type="submit" class="button">Login</button>
                <div class="">
                    <label >Not a User?</label>
                </div>
                <a href="../login/register.html" class="button">Register</a>
            </form>
        </div>
    </div>
    <!--    </section>-->
</main>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const userForm = document.getElementById('userForm');

        userForm.addEventListener('submit', function (e) {
            e.preventDefault();
            const username = userForm.username.value;
            const password = userForm.password.value;
            const user = validateLogin(username, password);
            if (user) {
                if (user.role === 'admin') {
                    // Redirect to admin page
                    window.location.href = '../admin/users/users.html';
                } else {
                    // Redirect to home page
                    window.location.href = '../index.html';
                }
            } else {
                alert('Invalid username or password');
            }
        });
        // Function to validate login credentials
        function validateLogin(username, password) {
            const users = JSON.parse(localStorage.getItem('users')) || [];
            return users.find(user => user.username === username && user.password === password);
        }

    });

</script>
</body>
</html>
